<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <br/>
  <strong>Email:</strong>
  <%= @user.email %>
  <br />
  <strong>Ruby applications</strong>
  <ul>
  <% @user.ruby_applications.each do |ra| %>
    <li>
      <%= link_to ra.name, ruby_application_path(ra) %>
    </li>
  <% end %>
  </ul>
  <br>
  <strong>API access token: </strong>
  <%= @user.api_access_token %>
  <br>
</p>

